:root {
  --font-primary: "Bona Nova", serif;
  --font-secondary: "Caveat", cursive;
  --clr-primary: #ce8147;
  --clr-secondary: #b80c09;
  --clr-neutral: #6b6d76;
  --clr-blk: #141111;
  --clr-blk-transparent: #00000072;
  --clr-white: #fff;
  --clr-alabaster: #ececec;
  --clr-motherofpearl: #dcdcdc;
  --clr-ivory: #d1d1d1;
  --clr-eggshell: #c2c2c2;
}

.mainBody {
  height: 100vh;
}

/* ######################################## */
/* ######################################## */
/* #############Cat-A-Mation############### */

.catFace {
  height: 30%;
  background: var(--clr-blk);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat {
  position: relative;
  height: 170px;
  width: 192px;
}

/* ######################## */
/* #########ears########### */

.ear {
  position: absolute;
  top: -20%;
  height: 60%;
  width: 25%;
  background: var(--clr-white);
}
.ear::before,
.ear::after {
  content: "";
  position: absolute;
  bottom: 40%;
  height: 8%;
  width: 5%;
  border-radius: 50%;
  background: var(--clr-blk);
}

.ear::after {
  transform-origin: 50% 100%;
}

.left-ear {
  left: -7%;
  border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(-15deg);
}

.left-ear::before,
.left-ear::after {
  right: 10%;
  z-index: 1;
}

.left-ear::after {
  transform: rotate(-45deg);
}

.right-ear {
  right: -7%;
  border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(15deg);
}

.right-ear::before,
.right-ear::after {
  left: 10%;
  z-index: 1;
}

.right-ear::after {
  transform: rotate(45deg);
}

.left-ear-inner {
  position: absolute;
  top: 18%;
  left: 18%;
  height: 40%;
  width: 45%;
  background: var(--clr-blk);
  border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(2deg);
}
.right-ear-inner {
  position: absolute;
  top: 18%;
  left: 35%;
  height: 40%;
  width: 45%;
  background: var(--clr-blk);
  border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(-2deg);
}

.left-orb {
  position: absolute;
  height: 30px;
  width: 35px;
  top: 69%;
  left: 2%;
  background: var(--clr-white);
  border-radius: 50%;
}
.right-orb {
  position: absolute;
  height: 30px;
  width: 35px;
  top: 69%;
  right: 2%;
  background: var(--clr-white);
  border-radius: 50%;
}

/* ############################# */
/* ############face############# */

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--clr-blk);
  border-radius: 50%;
}

.eye {
  position: absolute;
  top: 43%;
  height: 30%;
  width: 30%;
  background: var(--clr-white);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.eye::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  border-radius: 0 0 50% 50% / 0 0 40% 40%;
  background: var(--clr-blk);
  animation: blink 6s infinite ease-in;
}

@keyframes blink {
  0%,
  90%,
  95%,
  100% {
    height: 0;
  }
  92.5%,
  97.5% {
    height: 100%;
  }
}

.eye::before {
  content: "";
  position: absolute;
  top: 60%;
  height: 10%;
  width: 15%;
  background: var(--clr-white);
  border-radius: 50%;
}

.left-eye {
  left: 13px;
}

.right-eye {
  right: 13px;
}

.left-eye::before {
  right: -5%;
}
.right-eye::before {
  left: -5%;
}

.pupil {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 20%;
  left: 20px;
  background: var(--clr-blk);
  border-radius: 50%;
  animation: look 3s infinite;
}

@keyframes look {
  0%,
  50%,
  95%,
  100% {
    transform: translate(0);
  }
  10%,
  20% {
    transform: translate(50%, 20%);
  }
  25%,
  40% {
    transform: translate(-25%, 18%);
  }
}

.pupil::after {
  content: "";
  position: absolute;
  top: 30%;
  right: -5%;
  height: 20%;
  width: 35%;
  border-radius: 50%;
  background: var(--clr-white);
}

.muzzle {
  position: absolute;
  top: 70%;
  left: 50%;
  height: 6%;
  width: 10%;
  background: var(--clr-white);
  transform: translateX(-50%);
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}

.muzzle::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 2px;
  height: 55%;
  width: 35%;
  border-radius: 40%;
  background: var(--clr-blk);
}

.tongue {
  position: absolute;
  height: 20%;
  width: 10%;
  top: 140px;
  left: 86px;
  border-radius: 10% 10% 50% 50%;
  background: var(--clr-white);
  animation: lick 3s infinite ease-out;
}
.tongue:hover {
  animation-play-state: paused;
  cursor: grabbing;
}
.tongue::after {
  content: "";
  position: absolute;
  height: 52%;
  width: 12%;
  left: 9px;
  background: var(--clr-blk);
}

@keyframes lick {
  0%,
  100% {
    height: 0%;
  }
  30%,
  90% {
    height: 10%;
  }
  60% {
    height: 20%;
  }
}

/* ######################################## */
/* ######################################## */
/* ############Book-A-Mation############### */

.factsSection {
  display: flex;
  height: 60%;
  background: var(--clr-eggshell);
  align-items: center;
  justify-content: center;
  perspective: 46rem;
}

.book {
  transform-style: preserve-3d;
  position: relative;
  cursor: grab;
  backface-visibility: visible;
  transform: rotateX(27.5deg);
  height: 375px;
  width: 300px;
}
.bar1,
.bar2 {
  position: absolute;
  box-sizing: inherit;
  height: 12px;
  width: 90px;
  right: 100px;
  z-index: 1;
  background: var(--clr-primary);
  border-radius: 20px;
  outline: 1px solid var(--clr-neutral);
}
.bar1 {
  top: 180px;
}
.bar2 {
  top: 210px;
}
.back {
  box-shadow: -10px 10px 5px var(--clr-blk);
}

.pages {
  position: absolute;
  height: 14%;
  width: 97%;
  bottom: 1%;
  left: 3%;
  border-radius: 32px 4px 46px 32px;
  background-color: var(--clr-alabaster);
  background-image: linear-gradient(
    to bottom,
    transparent 6px,
    var(--clr-ivory) 8px,
    transparent 8px,
    transparent 12px,
    var(--clr-ivory) 12px,
    transparent 14px,
    transparent 18px,
    var(--clr-ivory) 18px,
    transparent 20px,
    transparent 24px,
    var(--clr-ivory) 24px,
    transparent 26px,
    transparent 30px,
    var(--clr-ivory) 30px,
    transparent 32px,
    transparent 36px,
    var(--clr-ivory) 36px,
    transparent 38px,
    transparent 42px,
    var(--clr-ivory) 42px,
    transparent 44px,
    transparent 48px,
    var(--clr-ivory) 48px,
    transparent 50px
  );
}

.front,
.back,
.page1,
.page2,
.page3,
.page4,
.page5,
.page6,
.page7,
.page8,
.page9,
.page10,
.page11,
.page12 {
  transform-style: preserve-3d;
  transform-origin: left center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 47%;
  transition: transform 1.25s ease-in-out;
  border-radius: 8% 10% 41px 32px;
  border: 1px solid var(--clr-blk-transparent);
}

.page7,
.page6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.front,
.back {
  background: var(--clr-secondary);
}

.page1,
.page2,
.page12,
.page11 {
  background: var(--clr-eggshell);
}

.page3,
.page10 {
  background: var(--clr-ivory);
}
.page4,
.page9 {
  background: var(--clr-motherofpearl);
}
.page5,
.page8 {
  background: var(--clr-alabaster);
}

.page6,
.page7 {
  background: var(--clr-white);
}

.page-container {
  width: 90%;
}

.book:hover {
  left: 0;
}
.left-page {
  transform: scaleX(-1);
}
.breeds {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.names {
  font-size: 0.825rem;
  line-height: 0.1;
  font-weight: 600;
  font-family: var(--font-secondary);
}

/* ############################ */
/* ####book opening effects#### */
.book:hover .front {
  transform: rotateY(-160deg) scale(1.1);
}
.book:hover .page1 {
  transform: rotateY(-155deg) scale(1.1);
}
.book:hover .page2 {
  transform: rotateY(-150deg) scale(1.1);
}
.book:hover .page3 {
  transform: rotateY(-145deg) scale(1.1);
}
.book:hover .page4 {
  transform: rotateY(-140deg) scale(1.1);
}
.book:hover .page5 {
  transform: rotateY(-135deg) scale(1.1);
}
.book:hover .page6 {
  transform: rotateY(-130deg) scale(1.1);
}
.book:hover .page7 {
  transform: rotateY(-45deg) scale(1.1);
}
.book:hover .page8 {
  transform: rotateY(-40deg) scale(1.1);
}
.book:hover .page9 {
  transform: rotateY(-35deg) scale(1.1);
}
.book:hover .page10 {
  transform: rotateY(-32deg) scale(1.1);
}
.book:hover .page11 {
  transform: rotateY(-28deg) scale(1.1);
}
.book:hover .page12 {
  transform: rotateY(-25deg) scale(1.1);
}
.book:hover .back {
  transform: rotateY(-20deg) scale(1.1);
}

.bookTitle {
  width: 60%;
  position: absolute;
  top: 48px;
  left: 25%;
  font-size: 25px;
  text-shadow: 2px 2px 4px var(--clr-blk);
}

.getFact,
.newFact {
  font-size: medium;
  font-family: var(--font-primary);
  text-shadow: 1px 1px 2px var(--clr-blk);
  border-radius: 3px;
}
.getFact:hover,
.newFact:hover {
  cursor: pointer;
}

.newFact {
  width: 80%;
}

.fact {
  font-family: var(--font-primary);
  width: 80%;
}

.footer {
  height: 10%;
  background: var(--clr-white);
}
